        body {
            background-color: rgb(56, 8, 8);
        }
            p{
                color: orange   ;
                font-family: "Roboto", sans-serif; /* TIPO DA FONTE8*/
                /*font-optical-sizing: auto;  NAO NECESSARIO*/ 
                font-weight: 400;/*PESO/ EXPESSURA DA LETRA*/
                font-style: normal;/* COMO APARECE O TEXTO TIPO TEXYUAL*/
                /*font-variation-settings:
                "wdth" 100;*/
            }
            h1{
             font-family: "Playwrite IE", cursive;
                font-weight: 900;
                font-style: normal;
                color: white;
            }
            h2{
             font-family: "Playwrite IE", cursive;
                font-weight: 900;
                font-style: normal;
                color: white;
            }
            a{
                color: orange;
            }
            a:hover{
                color: rgb(255, 255, 255);
            }
            hr{
                border: 3px solid color ;
            }
            img{
                width: 30%; /* largura*/
                height: auto; /*altura*/
                border-radius: 10px; /*arrendondar bordas*/
                box-shadow: 3px 3px 5px color rgb(0, 0, 0); 
            }         
            h3{
                color: white;
            }
            ul{
                color: orange;
                list-style: circle;
            }
            ol{
                color: orange;
                list-style: decimal;
            }
            div{
                width: 50%;
                height: auto;
            }
