        body {
            background-color: #412113;
        }

        p {
            color: #F5E6D3;
            font-family: "Roboto", sans-serif;
            /* TIPO DA FONTE8*/
            /*font-optical-sizing: auto;  NAO NECESSARIO*/
            font-weight: 400;
            /*PESO/ EXPESSURA DA LETRA*/
            font-style: normal;
            /* COMO APARECE O TEXTO TIPO TEXYUAL*/
            /*font-variation-settings:
                "wdth" 100;*/
        }

        h1 {
            font-family: "Playwrite IE", cursive;
            font-weight: 900;
            font-style: normal;
            color: #F28C8C;
        }

        h2 {
            font-family: "Playwrite IE", cursive;
            font-weight: 900;
            font-style: normal;
            color: #F28C8C;
        }

        a {
            color: #F28C8C;
        }

        a:hover {
            color: rgb(255, 255, 255);
        }

        hr {
            border: 3px solid color;
        }

        img {
            width: 30%;
            /*Largura*/
            height: auto;
            /*Altura*/
            border-radius: 5px;
            /*Arredondar as bordas*/
            box-shadow: 3px 3px 5px pink;
            /*Valor1 e valor2 são projeções da sombra, valor3 espalhamento da sombra, cor da sombra*/
        }