        body {
            background-color: #7D2210;
        }
            p{
                color: yellow  ;
                font-family: "Roboto", sans-serif; /* TIPO DA FONTE8*/
                /*font-optical-sizing: auto;  NAO NECESSARIO*/ 
                font-weight: 400;/*PESO/ EXPESSURA DA LETRA*/
                font-style: normal;/* COMO APARECE O TEXTO TIPO TEXYUAL*/
                /*font-variation-settings:
                "wdth" 100;*/
                
            }
            h1{
             font-family: "Playwrite IE", cursive;
                font-weight: 900;
                font-style: normal;
                color: white;
                text-shadow: 3px 3px 5px yellow ;
            }
            h2{
             font-family: "Playwrite IE", cursive;
                font-weight: 900;
                font-style: normal;
                color: white;
                text-shadow: 3px 3px 5px yellow ;
            }
            a{
                color: yellow;
            }
            a:hover{
                color: rgb(255, 255, 255);
            }

            img{
                width: 30%;/*Largura*/
            height: auto;/*Altura*/
            border-radius: 5px;/*Arredondar as bordas*/
            box-shadow: 3px 3px 5px yellow;/*Valor1 e valor2 são projeções da sombra, valor3 espalhamento da sombra, cor da sombra*/
            }         
            h3{
                color: white;
                text-shadow: 3px 3px 5px yellow ;
            }
            ul{
                color: yellow;
                list-style: circle;
            }
            ol{
                color: yellow;
                list-style: decimal;
            }
            
